*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.central-container{
    width: 70%;
    margin: auto;
    position: relative;
}

#globe{
    display: inline-block;
    background-color: #162659;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: url(img/homepage_community_globe.svg);
    background-position: center;
    background-size: 100%;
}

.nav-top{
    background-color: #edf7f7;
    border-bottom: 1px solid lightslategray;
    padding: 20px;
}

.nav-top select{
    color:  #162659;
    border: none;
    background-color: transparent;
}

.nav-top a{
    color:  #162659;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    border-left: 1px solid;
    margin-left: 1%;
    padding-left: 2%;
}

#search{
    display: inline-block;
    background-color: #162659;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-image: url(img/homepage_community_globe.svg);
    background-position: center;
    background-size: 100%;
    position: absolute;
    bottom: -5%;
    right: 25%;
}

.button-container button{
    border: none;
    height: 20px;
    padding: 15px;
    line-height: 1px;
    border-radius: 5px;
    margin-left: 50px;
}

#login{
    position: absolute;
    bottom: -20%;
    right: 15%;
    color: coral;
    border: 1px solid coral;
    background-color: transparent;
}

#get{
    position: absolute;
    bottom: -20%;
    right: 0%;
    color: white;
    background-color: coral;
}

.nav-bot{
    padding: 10px;
}

.logo{
    width: 15%;
    height: 50px;
    margin-top: 10px;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
}

ul{
    position: absolute;
    bottom: 5%;
    right: 0%;
}

ul li {
    display: inline-block;
    margin: 20px;
}

li a{
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color:  #162659;
}

#jumbotron{
    width: 100%;
    height: 550px;
    background-image: url(img/jumbotron.png);
    background-position: center;
    background-size: 100%;
    padding-top: 60px;
}

.jumbo-text{
    width: 40%;
    color: #162659;
}

.jumbo-text h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.jumbo-text p{
    text-justify:auto;
    line-height: 25px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.red-button{
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: coral;  
}

#hr{
    width: 100%;
    height: 80px;
    background-color: #8fdbd4;
    border-top:  3px  solid #162659;
    border-bottom:  3px  solid #162659;
}

.main-top{
    padding-top: 50px;
    width: 100%;
    background-color:  #edf7f7 ;
}

.integration{
    margin: auto;
    width: 70%;
}

.cube{
    margin: auto;
    width: 30%;
    height: 200px;
    background-image: url(img/Integrations_Illustration@2x.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-top h1{
    color:#162659;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.main-top p{
    color:#162659;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}