*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:#162659;
}

.central-container{
    width: 70%;
    margin: auto;
    position: relative;
}

#globe{
    display: inline-block;
    background-color: #162659;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background-image: url(img/homepage_community_globe.svg);
    background-position: center;
    background-size: 100%;
}

.nav-top{
    background-color: #edf7f7;
    border-bottom: 1px solid lightslategray;
    padding: 20px;
}

.nav-top select{
    border: none;
    background-color: transparent;
}

.nav-top a{
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    border-left: 1px solid;
    margin-left: 1%;
    padding-left: 2%;
}

#search{
    display: inline-block;
    background-color: #162659;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-image: url(img/homepage_community_globe.svg);
    background-position: center;
    background-size: 100%;
    position: absolute;
    bottom: -5%;
    right: 25%;
}

.button-container button{
    border: none;
    height: 20px;
    padding: 15px;
    line-height: 1px;
    border-radius: 5px;
    margin-left: 50px;
}

#login{
    position: absolute;
    bottom: -20%;
    right: 15%;
    color: coral;
    border: 1px solid coral;
    background-color: transparent;
}

#get{
    position: absolute;
    bottom: -20%;
    right: 0%;
    color: white;
    background-color: coral;
}

.nav-bot{
    padding: 10px;
}

.logo{
    width: 15%;
    height: 50px;
    margin-top: 10px;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
}

.nav-bot ul{
    position: absolute;
    bottom: 5%;
    right: 0%;
}

ul li {
    display: inline-block;
    margin: 20px;
}

li a{
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}

#jumbotron{
    width: 100%;
    height: 550px;
    background-image: url(img/jumbotron.png);
    background-position: center;
    background-size: 100%;
    padding-top: 60px;
}

.jumbo-text{
    width: 40%;
    color: #162659;
}

.jumbo-text h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.jumbo-text p{
    text-justify:auto;
    line-height: 25px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.red-button, .button-main{
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: coral;  
}

#hr{
    width: 100%;
    height: 80px;
    background-color: #8fdbd4;
    border-top:  3px  solid #162659;
    border-bottom:  3px  solid #162659;
}

.main-top{
    padding-top: 50px;
    width: 100%;
    background-color:  #edf7f7 ;
    content: "";
    display: table;
    clear: both;
}

.integration{
    margin: auto;
    width: 70%;
}

.cube{
    margin: auto;
    width: 30%;
    height: 200px;
    background-image: url(img/Integrations_Illustration@2x.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.integration h1, .hub h1{
    color:#162659;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.integration p, .hub p{
    color:#162659;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

.free-hub{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

#crm{
    width: 15%;
    height: 100px;
    margin:5% 10% 2% 10%;
    background-image: url(img/CRM-Illustration.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.button-main{
    padding: 15px 35px 15px 35px;
    margin-left: 11%;   
}
     
.free-text{
    position: absolute;
    right: 5%;
    bottom: 15%;
    line-height: 35px;
    width: 60%;
}

#hr-one{
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 60%;
}

.free-hub ul{
   position: absolute;
   right: 34%;
   bottom: 5%;
   font-size: 14px;
}

.check {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: top;
    line-height: 10px;
    width: 15px; 
    height: 15px;
    padding: 3px;
    margin-right: 5px;
    background: coral;
    border-radius: 50%;
    font-size: 10px;
  }

.hub{
    float: left;
    width: 30%;
    height: 600px;
    margin-top: 5%;
    padding: 0 3% 0 3%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.sales{
    margin: 5%;
}

.main-img{
    margin: auto;
    width: 40%;
    height: 150px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.marketing .main-img{
    background-image: url(img/Marketing-Hub-Free.svg);
}

.sales .main-img{
    background-size: 100%;
    background-image: url(img/Sales-Professional-Illustration.svg);
}

.service .main-img{
    background-image: url(img/Service-Hub-Illustration.svg);
}
.hub h1{
    font-size: 22px;
}

.hub hr{
    margin-top: 50px ;
}

.hub h3{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

.hub ul li{
    display: block;
    font-size: 14px;
    margin-left: 0;
}

.bot {
    margin:10px 0 0 55px;
}

.main-mid{
    width: 100%;
    height: 600px;
    padding-top: 40px;
    margin-bottom: 10px;
    background-color: #35b0ac ;
}

.mid-text{
    top: 100%;
    text-align: center;
}

.mid-text h3{
    display: block;
    font-size: 30px;
    color: white;
}

.mid-text p{
    margin-top: 20px;
    color: white;
    line-height: 25px;
    font-size: 14px;
}

.row-top{
    margin-top: 50px;
}

.col{
    float: left;
    width: calc(100% / 4);
    height: 150px;
    padding-top: 1%;
    border-right: 1px solid white;
}

.col.four{
    border: none;
}

.top-img,.bot-img{
    width: 50%;
    margin: auto;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.one .top-img{
    background-image: url(img/homepage_community_agency.svg);
}

.two .top-img{
    background-image: url(img/homepage_community_blog.svg);
}

.three .top-img{
    background-image: url(img/homepage_community_academy.svg);
}

.four .top-img{
    background-image: url(img/homepage_community_inbound.svg);
}

.one .bot-img{
    background-image: url(img/homepage_community_connect.svg);
} 

.two .bot-img{
    background-image: url(img/homepage_community_globe.svg);
}

.three .bot-img{
    background-image: url(img/homepage_community_followers.svg);
}

.four .bot-img{
    background-image: url(img/growthhub-white-small-1.svg);
}

.row-top h3,.row-bot h3{
    font-size: 35px;
    margin-top: 3%;
    text-align: center;
    color: white;
}

.row-top p,.row-bot p{
    font-size: 12px;
    margin-top: 3%;
    text-align: center;
    color: white;
}

.bot-container{
    margin: auto;
    width: 60%;
    padding-top: 2%;
    height: 200px;
    position: relative;
}

.customers h1{
    font-size: 35px;
}

.customers p{
    font-size: 14px;
    margin-top: 2%;
    line-height: 20px;
}

.loghi{
    position: absolute;
    top: 15%;
    right: 0%;
    height: 150px;
    width: 60%;
}

.log-top,.log-bot{
    float: left;
    width: calc(100% / 4 - 4%);
    height: 50px;
    margin:0 4% 1% 0;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.log-top.one{
    background-image: url(img/Atlassian-horizontal-blue@2x.webp);
}

.log-top.two{
    background-image: url(img/doordash_owler_20181011_194113_original@2x.webp);
}

.log-top.three{
    background-image: url(img/g2crowd-logo@2x.webp);
}

.log-top.four{
    background-image: url(img/purple-logo@2x.png);
}

.log-bot.one{
    background-image: url(img/Subaru_Logo_v2_186x63@2x.webp);
}

.log-bot.two{
    background-image: url(img/Wistia_logo@2x.webp);
}

.log-bot.three{
    background-image: url(img/Classpass-logo@2x.webp);
}

.log-bot.four{
    background-image: url(img/VMware_logo_gry_RGB_300dpi@2x.webp);
}

.start-grow{
    width: 40%;
    height: 200px;
}

.start-grow h1{
    font-size: 30px;
    margin-top: 5%;
}

.start-grow p{
    font-size: 14px;
    margin-top: 5%;
    line-height: 25px;
}

#start-bot{
    margin: 10% 2% 2% 0%;
}

.woman{
    position: absolute;
    top: 3%;
    right: 0%;
    width: 40%;
    height: 300px;
    margin-bottom: 10%;
    background-image: url(img/woman.webp);
    background-size: 60%;
    background-position: top right;
    background-repeat: no-repeat;
}